body {

    background-image: url("../img/bg-white.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.dash {

    border-radius: 10px;
    margin: 10px;
    color: rgb(0, 0, 0) !important;
}

.dashInput {

margin-left: 10px;



}


.e404 {

text-align: center;
padding: 20;

}


.navbar-default,
.navbar-default li>a {
    
    border-color: rgba(15, 111, 255, 0) !important;
    background-color: rgba(0, 0, 0, 0.747) !important;
    color: rgb(255, 255, 255) !important;
    
}

.navbar-default li>a:hover {

    color: turquoise !important;
}

.logo {

    height: 35px;
    padding-bottom: 10px;
    
}

.footImp {

    text-align: right;
    padding: 20px;
    
}
    

.footerBg {

    background-color: rgba(0, 0, 0, 0.747) !important;
    color: white;
    border-radius: 10px;
    
}
    
.footerBg div>a {
    
    color: white;
    
}

.margin {

margin-top: 50px;
padding-left: 0;
padding-right: 0;

}

.margin2 {

    margin-bottom: 50px;
    margin-top: 50px;
    
    }

.margin3 {

    margin-left: 10px;
    margin-right: 10px;
}

.font {

font-size: 76px;
text-align: center;

}

.font2 {

font-size: 24px;
padding-top: 10px;
padding-left: 25px;

}

.font3 {

    font-size: 24px;
    margin-top: 25px;
    padding-left: 25px;
    color: black;
    text-decoration: underline;    
}

.font3:hover {
    
    margin-top: 25px;
    font-size: 24px;
    padding-left: 25px;
    color: turquoise;    
    background-color: rgba(0, 0, 0, 0.747);

}

        
.p-0 {

    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;

}

.backGround {

    background-color: rgba(0, 0, 0, 0.747) !important;
    border-radius: 10px;
    color: white;
    padding: 10px;

}


.backArtikel {

 margin-top: 25px;

}


.borderSu {

border: 15px solid rgba(253, 253, 253, 0.747);

}

.wiki {

    width: 100%;
    height: 750px;

}


input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    
    width: 100%;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

input[type="date"] {
   
    padding: 8px;

}

textarea {
    
    height: 150px;
    vertical-align: bottom;
}

div.textCenterSu h2,
div.textCenterSu h1 {                    

    text-align: center;
    color: burlywood;
    font-weight: 900px;

}

.h {

    color: burlywood;
    font-weight: 900px;
}

.marginKontakt {

    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
}

.anzahlWidth {

        width: 50px !important;

}

.zahlungStyle {

    background-color: rgba(0, 0, 0, 0.747) !important;
    color: white;
    border-radius: 10px !important;
    
}

.bgWhite {

    background-color: turquoise;
    padding: 10px !important;
    border-radius: 10px !important;
    color: black !important;
    border: rgba(0, 0, 0, 0.747) !important;
    
    }

.marginBut1 {
margin-top: 20px !important;
*margin-bottom: 20px !important;
font-size: 24px !important;


}

.marginBut2 {
    
    margin-bottom: 20px !important;
    
    }





@media screen and (max-width: 767px) {

   
    .p-0 {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
    }
    
   .marginArtikel {

margin-left: 20px !important;
margin-right: 20px !important;

   }

    .carousel-caption {
    
        padding: 0 !important;

    }
    .carousel-caption >p {
    
        font-size: 12px !important;
        margin: 0 !important;        
    }
    .carousel-caption >h3 {
    
        font-size: 24px !important;

    }

    .font {

        font-size: 32px;
        text-align: center;
        
    }
    
    .font2 {
        
        font-size: 16px;
        padding-top: 10px;
        padding-left: 5px;
    }

    footer {
padding-left: 20px !important;
padding-right: 20px !important;

    }

    nav {

        margin-left: 20px !important;
        margin-right: 20px !important;
    }

.zahlungStyle {

text-align: center;
}

.widthSu {

    margin: 20px;
    
    
     }   

}

@media screen and (min-width: 768px) and (max-width: 991px){

    .carousel-caption {
    
        padding: 0 !important;

    }

    .carousel-caption >p {
    
        margin: 0 !important;

}
}